<%# featured on section with company icons full width %>
<section class="flex flex-wrap items-center justify-center gap-4 md:gap-8">
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
    <div>
      <%= render "components/habits_card" %>
    </div>
    <div>
      <%= render "components/fitness_card" %>
    </div>
    <div>
      <%= render "components/finance_card" %>
    </div>
  </div>
</section>
