<%# ------- Hero Tailwind ------ %>
<section>
  <div class="lg:flex lg:h-screen lg:items-center">
    <div class="mx-auto max-w-3xl text-center">
    <h3>Organize Your Life, One Widget at a Time</h3>
      <h1 id="hero-header" class="mt-3 text-xl">
         The <strong class="text-primary"> All-in-One</strong> life manager for Productive Minds
      </h1>
      <p class="mt-6">
        Track your life effortlessly. Save time, reduce mental load, and achieve more with a fully customizable dashboard.
      </p>

      <%= link_to "Get started !", new_user_registration_path, class:"btn btn-secondary mt-6"%>
      </div>
    </div>
  </div>
</section>
