<%# ------- Hero Tailwind ------ %>
<section class="w-screen relative">
  <div class="lg:flex lg:h-screen lg:items-center">
    <div class="mx-auto max-w-3xl text-center">
    <h3>Organize Your Life, One Widget at a Time</h3>
      <h1 id="hero-header" class="mt-3 text-xl">
         The <strong class="text-primary"> All-in-One</strong> life manager for Productive Minds
      </h1>
      <p class="mt-6">
        Track your life effortlessly. Save time, reduce mental load, and achieve more with a fully customizable dashboard.
      </p>

      <%= link_to "Get started !", new_user_registration_path, class:"btn btn-secondary mt-6"%>
      </div>
    </div>
  </div>

  <div class="absolute top-[410px] left-[130px] w-[113px] h-[113px] rounded-lg bg-blue-light"></div>
  <div class="absolute top-[520px] right-[210px] w-[113px] h-[113px] rounded-lg bg-orange-light"></div>
  <div class="absolute top-[360px] right-[60px] w-[113px] h-[113px] rounded-lg bg-red-light"></div>
  <div class="absolute bottom-[-30px] right-[210px] w-[250px] h-[113px] rounded-lg bg-green-light"></div>
  <div class="absolute top-[170px] left-[-80px] w-[250px] h-[113px] rounded-lg bg-orange-light"></div>
  <div class="absolute top-[330px] left-[-30px] w-[113px] h-[250px] rounded-lg bg-mint-light"></div>
  <div class="absolute bottom-[-90px] left-[-30px] w-[250px] h-[250px] rounded-lg bg-purple-light"></div>
  <div class="absolute bottom-[-140px] right-[-70px] w-[250px] h-[390px] rounded-lg bg-blue-light"></div>
  <div class="absolute bottom-[-10px] left-[270px] w-[113px] h-[113px] rounded-lg bg-red-light"></div>
  <div class="absolute top-[60px] right-[-50px] w-[113px] h-[250px] rounded-lg bg-yellow-light"></div>
</section>
