<%# This is my big widget that shows progress over time %>
<div class="shadow-center rounded-lg w-full h-full p-3 flex flex-col justify-start items-center bg-red-light">
    <h1 class="text-center justify-center mb-3 uppercase ">Habits</h1>
      <div class="p-4 flex-col space-y-6 flex justify-center items-center overflow-y-auto">
          <% service.tasks.sort.each do |task| %>
            <div class="flex justify-between gap-x-8">
              <p class="w-24 font-medium font-md text-red-dark uppercase"><%= task.title %></p>
              <div class="w-[700px] h-6 bg-grey-light rounded-full">
                <div class="bg-red-dark h-6 rounded-full" style="width:<%= rand(1..100) %>%"></div>
              </div>
              <%= link_to lucide_icon('trash-2'), widget_task_path(service.widget, task), data: {turbo_method: :delete}, class: 'text-red-dark focus:outline-none'  %>
            </div>
          <% end %>
        </div>
</div>
