<div class="bg-orange-light h-full w-full rounded-lg p-4 flex flex-col" data-controller="map">
    <h1 class="text-center justify-center mb-3 uppercase ">Map</h1>
    <div data-map-target="map" class="rounded m-1" style="height: 400px;"></div>
</div>

<link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js'></script>
