
<label class="block">
    <span class="block font-medium text-gray-900 text-color-black"></span>
    <label class="input input-bordered flex items-center gap-2 mb-4">
    Name
    <input type="text" class="grow" placeholder="myName"/>
    </label>
    <label class="input input-bordered flex items-center gap-2 mb-4">
    Email
    <input type="text" class="grow" placeholder="user@dahboard.com"/>
    </label>
    <label class="input input-bordered flex items-center gap-2 m-4">
    Password
    <input type="text" class="grow" placeholder="*********"/>
    </label>
</label>

<div class="flex justify-center">
    <div class="border border-black  w-8 rounded-lg m-4 flex items-center justify-center aspect-square">
        <%= lucide_icon("pencil", class: "h-4 w-4") %>        
    </div>
    <div class="border border-black  w-8 rounded-lg m-4 flex items-center justify-center aspect-square">
        <%= lucide_icon("log-out", class: "h-4 w-4") %>        
    </div>
</div>



