
  <div class="card bg-white p-4">
    <h1 class="text-xl font-bold mb-4">Goal Setting</h1>
    <%= turbo_frame_tag "new_goal" do %>
    <p class="mb-2">Progress bars for goal tracking:</p>
    <progress class="progress progress-success w-full" value="50" max="100"></progress>
      <div class="flex justify-between mt-2">
        <p class="order-first">0</p>
        <p>
        <input type="text" name="goal" value="distance" class="form-input order-last" action="/widgets/<%= widget.id %>/new_goal" method="POST">
        km
        </p>
      </div>
     <%= link_to "Log my run", widget_new_goal_path(widget), class:"btn btn-primary" %>
    <% end %>
  </div>
