<p  class="justify-center text-center text-grey-dark"
  data-flashcards-handler-target="text"
  data-question="<%= flashcard.question %>"
  data-answer="<%= flashcard.answer %>" >
  <%= flashcard.question %></p>