<p  class="justify-center text-center text-grey-dark"
  data-flashcards-handler-target="text"
  data-question="<%= service.flashcards[0].question %>"
  data-answer="<%= service.flashcards[0].answer %>" >
  <%= service.flashcards[0].question %></p>