<div id="fitness-left-column" >
<%# 1 fitness profile %>
  <%# <div class="card bg-white shadow-xl w-1/3 p-4">
    <div class="flex justify-between items-center">
      <div class="radial-progress bg-primary text-primary-content border-primary border-4 w-24 h-24" style="--value:30;" role="progressbar">
          weight
          55kg
      </div>
      <div class="radial-progress bg-primary text-primary-content border-primary border-4 w-24 h-24" style="--value:70;" role="progressbar">
          body-fat
          20%
      </div>
      <div class="radial-progress bg-primary text-primary-content border-primary border-4 w-24 h-24" style="--value:70;" role="progressbar">
          70%
      </div>
    </div>
  </div>
  <br> %>
<%# 2 training progress %>
  <%= render "fitness_progress" %>

<%# 3 race countdown %>
  <%= render "fitness_countdown" %>

<br>
<%# 4 routine setting progress %>
<div id="fitness-right-column">
  <%= render "fitness_task" %>
</div>

</div>

<br>
<div>
  <%= render "fitness_midget" %>
</div>
