<div class="card bg-base-100 w-[1000px] shadow-xl bg-red-300 h-96 mx-auto">
  <div class="card-body">
    <h2 class="card-title text-center justify-center text-2xl mb-3">Habits</h2>
    <div class="p-4 flex-col space-y-6 flex justify-center items-center">
      <div class="flex justify-between gap-x-8">
        <p class="w-24">Meditate</p>
        <progress class="progress progress-primary w-[700px] h-6 row" value="20" max="100">Meditate</progress>
      </div>
      <div class="flex justify-between gap-x-8">
        <p class="w-24">Read</p>
        <progress class="progress progress-primary w-[700px] h-6 row" value="40" max="100"></progress>
      </div>
      <div class="flex justify-between gap-x-8">
        <p class="w-24">Exercise</p>
        <progress class="progress progress-primary w-[700px] h-6" value="60" max="100"></progress>
      </div>
      <div class="flex justify-between gap-x-8">
        <p class="w-24">Floss</p>
        <progress class="progress progress-primary w-[700px] h-6" value="80" max="100"></progress>
      </div>
      <div class="flex justify-between gap-x-8">
        <p class="w-24">Journal</p>
        <progress class="progress progress-primary w-[700px] h-6" value="100" max="100"></progress>
      </div>
    </div>
    <div class="card-actions justify-end">
    </div>
  </div>
</div>

<br>

<div class="card bg-base-100 w-[300px] h-[300px] shadow-xl bg-red-300  mx-auto mb-5 p-3">
  <%= turbo_frame_tag "new_habit" do %>
  <div class="flex justify-between m-5">
    <h1 class="card-title text-left text-3xl">Habits</h1>
    <%= link_to '+', new_widget_task_path %>
  </div>
    <% @tasks.each do |task| %>
      <div class="form-control ms-5">
        <label class="label cursor-pointer gap-2 flex justify-start">
          <input type="checkbox" 
          <%= task.done == true ? "checked" : "" %>
          class="checkbox checkbox-primary" />
          <span class="label-text"><%= task.title %></span>
        </label>
      </div>
    <% end %>
  <% end %>
</div>
