<div class="flex justify-center items-center min-h-screen">
    <div class="grid gap-7 m:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-7">
        <% 28.times.each_with_index do |_, index| %>
            <div class="widget-layout text-center flex items-center justify-center">
                <%= format('%02d', index + 1) %>
            </div>
        <% end %>
    </div class=" items-stretch ">
        <div class="flex flex-col ml-8 flex-1 setting-layout justify-center">
            <div class="text-center">Settings & stuff</div>
    </div>
</div>
