<div class="flex justify-center items-center min-h-screen">
    <div class="grid gap-8 m:grid-cols-3 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-7 w-[80vw]">
        <% 28.times.each_with_index do |_, index| %>
            <div class="col-span-1 widget-layout text-center flex items-center justify-center aspect-square">
                <%= format('%02d', index + 1) %>
            </div>
        <% end %>
    </div>
    <div class="flex justify-center flex-col ml-8 flex-1 setting-layout pt-24">
        <div class="collapse">
        <input type="checkbox"/>
            <div class="collapse-title flex justify-center ">
                <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" class="rounded-xl w-20 justify-center"/>
            </div>
            <div class="collapse-content">
                <%= render "shared/profile_menu" %>
            </div>
        </div>
            <div class="collapse">
        <input type="checkbox"/>
            <div class="collapse-title flex justify-center">
    <div class="border border-black  w-20 rounded-xl m-8 flex items-center justify-center aspect-square">
                <%= lucide_icon("plus", class: "h-12 w-12") %>
            </div>        </div>
            <div class="collapse-content">
                <%= render "shared/widgets_menu" %>
            </div>
        </div>
    </div>
</div>
