<div class="shadow-center rounded-lg card bg-primary flex p-3 items-center justify-center text-white">
  <h2>Time zone converter</h2>
  <p>Add a location :</p>

  <%= form_with(model: @widget, local: true) do |form| %>
    <div>
      <%= form.label :timezone, "Location" %>
      <%= form.text_field :timezone, placeholder: "Enter a city (e.g., New York)" %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
