@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");
@import "font-awesome";


.image-background{
  background-image: url('background.png');
}
/* ---------- FONTS ----------- */
.checkbox:checked{
  background-color:#DB6D6B ;
  background-image: url('checked.png');
  background-size: 12px 9px;
  background-position: center;
}
body{
  background-color: #F9F9F9;
}
h1 {
  font-size: 42px !important;
  font-weight:700 !important;
}

h2{
  font-size: 33px !important;
  font-family: "Urbanist", serif !important;
  font-weight: 500 !important;
}

h3{
  font-size: 26px !important;
  font-family: "Urbanist", serif;
  font-weight: 200;
}

h4{
  font-size: 20px;
  font-family: "Urbanist", serif;
  font-weight: 900 !important;
}

p{
  font-size: 16px;
  font-weight: 200;
  font-family: "Montserrat", serif;
}

/* ---------- BUTTONS ----------- */

.btn {
  padding: 0px 30px;
  border-radius: 10px;
  border: none;
}

.btn-primary{
  background-color: #575EAD;
  border: none;
  color: white;
}

.btn-primary:hover{
  background-color: #9296C9;
  border: none;
  color: white;
}


.btn-secondary{
  background-color: #9296C9;
  border: none;
  color: white;
}

.btn-secondary:hover{
  background-color: #575EAD;
  border: none;
  color: white;
}

.link {
  color: #707070;
  text-decoration: none;
}

.shadow-center {
  box-shadow:
  0px 0px 2.3px rgba(0, 0, 0, 0.028),
  0px 0px 6.3px rgba(0, 0, 0, 0.04),
  0px 0px 15.1px rgba(0, 0, 0, 0.052),
  0px 0px 50px rgba(0, 0, 0, 0.08);
}

.shadow-field {
  box-shadow:
  0px 0px 1px rgba(0, 0, 0, 0.024),
  0px 0px 2.9px rgba(0, 0, 0, 0.035),
  0px 0px 6.9px rgba(0, 0, 0, 0.046),
  0px 0px 23px rgba(0, 0, 0, 0.07)
}

.shadow-menu{
  box-shadow:
  0px 0px 1.6px rgba(0, 0, 0, 0.014),
  0px 0px 3.9px rgba(0, 0, 0, 0.02),
  0px 0px 7.3px rgba(0, 0, 0, 0.025),
  0px 0px 13px rgba(0, 0, 0, 0.03),
  0px 0px 24.2px rgba(0, 0, 0, 0.036),
  0px 0px 58px rgba(0, 0, 0, 0.05)
;
}

#hero-header{
  font-size: 54px !important;
  line-height: 54px;
}

/* ---------- COLORS BRANDING ----------- */
.text-primary {
  color: #575EAD;
}
.text-secondary {
  color: #9296C9;
}
.bg-primary {
  background-color: #575EAD;
}
.bg-secondary {
  background-color: #9296C9;
}
/* ---------- COLORS WIDGETS ----------- */

 /* Time widget */
 .text-mint-dark {
  color: #86ADA5;
}
.text-mint-light {
color: #CEE3DE;
}
.bg-mint-light {
  background-color: #CEE3DE;
}
.bg-mint-dark {
background-color: #86ADA5;
}
.border-mint-dark {
  border: 2px solid #86ADA5;
  }

 /* Weather widget */
 .text-yellow-dark {
  color: #EDD182;
}
.text-yellow-light {
color: #F8EDCF;
}
.bg-yellow-light {
  background-color: #F8EDCF;
}
.bg-yellow-dark {
background-color: #EDD182;
}
.border-yellow-dark {
  border: 2px solid #EDD182;
  }

/* Stock Portfolio widget */
.text-green-dark {
  color: #8B9948;
}
.text-green-light {
color: #D6DEAF;
}
.bg-green-light {
background-color: #D6DEAF;
}
.bg-green-dark {
background-color: #8B9948;
}
.border-green-dark {
  border: 2px solid #8B9948;
  }

 /* Flashcard widget */
.text-blue-dark {
  color: #82ADD9;
}
.text-blue-light {
  color: #CBDDEF;
}
.bg-blue-light {
background-color: #CBDDEF;
}
.bg-blue-dark {
background-color: #82ADD9;
}
.border-blue-dark {
  border: 2px solid #82ADD9;
}
.btn-arrow{
  border: none;
  color: #82ADD9;
}
.btn-arrow:hover{
  border: none;
  color: #9296C9;
}
.inner-shadow-list{
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}


/* Habits widget */
.text-red-dark {
  color: #DB6D6B;
}
.text-red-light {
  color: #F2CAC9;
}
.bg-red-light {
background-color: #F2CAC9;
}
.bg-red-dark {
background-color: #DB6D6B;
}
.border-red-dark {
  border: 2px solid #DB6D6B;
}

/* Fitness widget */
.text-purple-dark {
  color: #A487D4;
}
.text-purple-light {
color: #D9CDED;
}
.bg-purple-light {
background-color: #D9CDED;
}
.bg-purple-dark {
background-color: #A487D4;
}
.border-purple-dark {
  border: 2px solid #A487D4;
  }

/* Map widget */
.bg-orange-light {
  background-color: #F2DAC7;
  }
.bg-orange-dark {
  background-color: #E0A87B;
}
.text-orange-light {
  color: #F2DAC7
}
.text-orange-dark {
  color: #E0A87B
}


/* Grey */
.text-grey-dark {
  color: #707070;
}
.text-grey-light {
color: #EEEEEE;
}
.bg-grey-light {
background-color: #EEEEEE;
}
.bg-grey-dark {
background-color: #707070;
}

.border-grey-light {
  border: 2px solid #EEEEEE;
  border-radius: 20px;
  }


.question-width {
    width: 43%;
}

/* ---------- ANIMATIONS----------- */


@keyframes float-1 {
  0%, 100% {
    transform: translate(0, 0) rotate(0deg); /* Position initiale */
  }
  25% {
    transform: translate(-5px, -10px) rotate(-3deg); /* Légèrement à gauche et incliné */
  }
  50% {
    transform: translate(10px, 0) rotate(3deg); /* À droite et incliné */
  }
  75% {
    transform: translate(-5px, 10px) rotate(-3deg); /* À gauche, légèrement en bas et incliné */
  }
}

@keyframes float-2 {
  0%, 100% {
    transform: translate(0, 0) rotate(0deg); /* Position de départ et fin */
  }
  25% {
    transform: translate(10px, -5px) rotate(5deg); /* Légèrement à droite et incliné */
  }
  50% {
    transform: translate(-15px, 5px) rotate(-5deg); /* À gauche et incliné plus fortement */
  }
  75% {
    transform: translate(10px, 0) rotate(5deg); /* À droite, légèrement à la verticale */
  }
}

@keyframes heartbeat {
  0%, 100% {
    transform: scale(1) translateX(0) translateY(0); /* Taille normale, position initiale */
  }
  25% {
    transform: scale(1.2) translateX(-2px) translateY(-2px); /* Légèrement agrandi avec un petit mouvement vers le haut à gauche */
  }
  50% {
    transform: scale(0.9) translateX(2px) translateY(2px); /* Réduit et décalé légèrement vers la droite et vers le bas */
  }
  75% {
    transform: scale(1.2) translateX(-2px) translateY(-2px); /* Retour à l'agrandissement avec le mouvement à gauche en haut */
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0); /* Position normale */
  }
  50% {
    transform: translateY(-10px); /* Légère montée */
  }
}

.animate-float-1 {
  animation: float-1 4s ease-in-out infinite;
}

.animate-float-2 {
  animation: float-2 4s ease-in-out infinite;
}

.animate-heartbeat {
  animation: heartbeat 4s ease-in-out infinite;
}


.animate-float {
  animation: float 4s ease-in-out infinite;
}
