.widget-layout{
border-radius: 8px;
background-color: grey;
margin: 15px ;
}

/* .setting-layout{
     height: calc(120px * 4 + 45px * 3);
     border-radius: 8px;
     margin: 15px 15px 15px 15px;
     background-color: rgb(240, 240, 240);
     border: solid 1px black;
     margin-top: auto;
    margin-bottom: auto;
} */

.setting-layout {
    height: calc(120px * 5 + 20px * 3);
    border-radius: 8px;
    background-color: rgb(240, 240, 240);
    display: flex; /* To center content if needed */
    justify-content: center;
    align-items: center;
}

body{
  background-color: #F9F9F9;
}
h1 {
  font-size: 42px !important;
  font-weight:700 !important;
}

h2{
  font-size: 33px;
  font-family: "Urbanist", serif;
  font-weight: 500;
}

h3{
  font-size: 26px !important;
  font-family: "Urbanist", serif;
  font-weight: 200;
}

h4{
  font-size: 20px;
  font-family: "Urbanist", serif;
  font-weight: 900 !important;
}

p{
  font-size: 16px;
  font-weight: 200;
  font-family: "Montserrat", serif;
}

.btn {
  padding: 0px 30px;
  border-radius: 10px;
}

.btn-primary{
  background-color: #575EAD;
  border: none;
  color: white;
}

.btn-primary:hover{
  background-color: #9296C9;
  border: none;
  color: white;
}


.btn-secondary{
  background-color: #9296C9;
  border: none;
  color: white;
}

.btn-secondary:hover{
  background-color: #575EAD;
  border: none;
  color: white;
}

.link {
  color: #707070;
  text-decoration: none;
}

.shadow-center {
  box-shadow:
  0px 0px 2.3px rgba(0, 0, 0, 0.028),
  0px 0px 6.3px rgba(0, 0, 0, 0.04),
  0px 0px 15.1px rgba(0, 0, 0, 0.052),
  0px 0px 50px rgba(0, 0, 0, 0.08);
}

#hero-header{
  font-size: 54px !important;
  line-height: 54px;
}


/* primary: '#575EAD',
secondary: '#9296C9',
darkgrey: "#707070",
grey: "#E0E0E0",
lightgrey: "#EEEEEE"
natural: "#F9F9F9"*/
