<div class="bg-red-light h-full w-full rounded-lg p-4 flex flex-col" data-controller="map">
    <h4 class="card-title flex justify-start text-xl mb-2 ms-1">Map</h4>
    <div data-map-target="map" class="rounded m-1" style="height: 400px;"></div>
</div>

<link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js'></script>

