<div class="shadow-center rounded-lg card bg-primary w-[140px] h-[140px] flex p-3 items-center justify-center text-white">
  <p class="font-['Orbitron'] text-4xl">09:22</p>
  <h4 class="uppercase text-2xl mt-3">Paris</h4>
  <%= service.time %>
</div>
