<div class="bg-mint-light h-full w-full rounded-lg p-3 flex flex-col justify-center items-center"
     data-controller="live-clock">
  <div class="text-center"
     data-live-clock-target="midget"
     data-time="<%= service.converted_time %>">
     <%# live clock controller %>
  </div>
  <h4 class="uppercase text-mint-dark text-sm"><%= service.timezone %></h4>
</div>
